<a href="https://colab.research.google.com/github/pingao2019/DS-Unit-4-Sprint-1-NLP/blob/master/LS_DS_412_Vector_Representations_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [0]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy

## 1) *Clean:* Job Listings from indeed.com that contain the title "Data Scientist" 

You have `job_listings.csv` in the data folder for this module. The text data in the description column is still messy - full of html tags. Use the [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) library to clean up this column. You will need to read thru the documentation to accomplish this task. 

`Tip:` You will need to install the `bs4` library inside your conda environment.

In [0]:
df = pd.read_csv('./data/job_listings.csv')
df.head()

,Unnamed: 0,description,title
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist

In [0]:
from bs4 import BeautifulSoup
import requests

In [0]:
def clean_description (desc):
    soup= BeautifulSoup(desc)
    return soup.get_text()
df['clean_desc'] =df['description'].apply(clean_description)

In [0]:

df.head()

,Unnamed: 0,description,title,clean_desc
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist,"b""Job Requirements:\nConceptual understanding ..."
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I,"b'Job Description\n\nAs a Data Scientist 1, yo..."
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level,b'As a Data Scientist you will be working on c...
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist,"b'$4,969 - $6,756 a monthContractUnder the gen..."
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist,b'Location: USA \xe2\x80\x93 multiple location...

In [0]:
df= df.drop(columns= 'Unnamed: 0')
df.head()

,description,title,clean_desc
0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist,"b""Job Requirements:\nConceptual understanding ..."
1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I,"b'Job Description\n\nAs a Data Scientist 1, yo..."
2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level,b'As a Data Scientist you will be working on c...
3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist,"b'$4,969 - $6,756 a monthContractUnder the gen..."
4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist,b'Location: USA \xe2\x80\x93 multiple location...

## 2) Use Spacy to tokenize the listings

In [0]:
from bs4 import BeautifulSoup as bs
nlp = spacy.load('en_core_web_lg')
def remove_unicode_chars(df):
    df = df.copy()
    df['description'] = df['description'].str.replace(r'(\\(x|n)[a-z0-9]{0,2})', '')
    return df

def remove_html(df):
    df = df.copy()
    df['description'] = df['description'].apply(lambda x: bs(x).get_text().replace("\\n", " "))
    df['description'] = df['description'].str.replace('b"', '')
    df['description'] = df['description'].str.replace("b'", '')
    df['description'] = df['description'].apply(lambda x: re.sub('[0-9]+', '', x))
    df['description'] = df['description'].str.lower()
    df['tokenized'] = df['description'].apply(lambda x: [token.text for token in nlp(x) 
                                                         if (token.is_stop is False) & (token.is_punct is False)])
    return df

In [0]:
df1 = remove_unicode_chars(df)
df1 = remove_html(df1)
df1.head()

In [0]:
from bs4 import BeautifulSoup as bs
def remove_unicode(df):
    df = df.copy()
    df['clean_desc'] = df['clean_desc'].str.replace(r'(\\(x|n)[a-z0-9]{0,2})', '')
    return df   
def remove_html(df):
    df = df.copy()
    df['clean_desc'] = df['clean_desc'].str.replace("b'", '')                               
    df['clean_desc'] = df['clean_desc'].str.replace('b"', '') 
    df['clean_desc'] = df['clean_desc'].apply(lambda x: bs(x).get_text().replace("\\n", " "))                            
    df['clean_desc'] = df['clean_desc'].str.lower()
    df['clean_desc'] = df['clean_desc'].apply(lambda x: re.sub('[0-9]+', '', x)
    #df['clean_desc'] = df['clean_desc'].str.replace("b'", '')                               
    #df['clean_desc'] = df['clean_desc'].str.replace('b"', '') 
     
    return df

SyntaxError: invalid syntax (<ipython-input-30-13a776d8c0b7>, line 16)

In [0]:

df1=remove_unicode(df)
df_cleaned =remove_html(df1)

df_cleaned.head()

,description,title,clean_desc
0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist,job requirements:conceptual understanding in m...
1,b'<div>Job Description<br/><br/><p>As a Data S...,Data Scientist I,"job descriptionas a data scientist 1, you will..."
2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level,as a data scientist you will be working on con...
3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist,"$4,969 - $6,756 a monthcontractunder the gener..."
4,b'<ul><li>Location: USA multiple locations</l...,Data Scientist,location: usa multiple locations+ years of an...

In [0]:
nlp = spacy.load('en_core_web_lg')
doc = nlp(str(df_cleaned['clean_desc']))

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [0]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 4) Visualize the most common word counts

In [0]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [0]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [0]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)